<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @teacher.whole_name %>
</p>

<p>
  <b>Teaches:</b>
  <%= @teacher.grade.name %>
</p>

<% if @teacher.students.size != 0 %>
  <p><%= link_to 'Students', teacher_students_path(@teacher) %></p>
<% end %>
